name: CI de Testes (Node.js)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    name: Testar em ${{ matrix.os }} com Node ${{ matrix.node-version }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

        node-version: [18.x, 20.x] 

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout do código
      uses: actions/checkout@v4

    - name: Configurar Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Instalar dependências
      run: npm ci

    - name: Rodar testes unitários
      run: npm test